<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>HelloHome! - About Us</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt"
		 crossorigin="anonymous"
		>
		<link href="/styles.css" rel="stylesheet">
	</head>
	
	<body>
		<div th:if="${currentUser != null}">
			<div th:replace="fragments/header :: loggedInHeader(user=${currentUser})"></div>
		</div>
		<div th:unless="${currentUser != null}">
			<div th:replace="fragments/header :: notLoggedInHeader"></div>
		</div>
		
		<main class="container">
			<img id="team-pic" src="/team-picture.jpg" alt="team picture" width="60%">
			
			<div class="row">
				<div th:each="person : ${team}" class="col">
					<div
					 th:replace="fragments/aboutCard :: aboutCard(name=${person[0]}, linkedIn=${person[1]}, gitHub=${person[2]})"></div>
				</div>
			</div>
		</main>
	</body>
</html>