<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>HelloHome! - Expenses</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt"
		 crossorigin="anonymous"
		>
		<link href="/styles.css" rel="stylesheet">
	</head>
	<body>
		<div th:if="${currentUser.expense != null}">
			<div th:replace="fragments/header :: loggedInHeader(user=${currentUser})"></div>
		</div>
		
		<main class="container">
			<h1><span th:text="${currentUser.firstName}"></span> please enter your monthly expenses:</h1>
			<form method="POST" action="/user/addExpenses">
				<div class="form-group" th:if="${currentUser.expense == null}">
					<label for="annualIncome">Annual Income</label>
					<input type="number" name="annualIncome" class="form-control" id="annualIncome" placeholder="annual income">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="annualIncome2">Annual Income</label>
					<input type="number" name="annualIncome" class="form-control" id="annualIncome2"
					       th:value="${currentUser.expense.annualIncome}">
				</div>
				
				<div class="form-group" th:if="${currentUser.expense == null}">
					<label for="creditPayment">Credit Card Payment</label>
					<input type="number" name="creditPayment" class="form-control" id="creditPayment" placeholder="credit card payment">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="creditPayment2">Credit Card Payment</label>
					<input type="number" name="creditPayment" class="form-control" id="creditPayment2"
					       th:value="${currentUser.expense.creditPayment}">
				</div>
				
				<div class="form-group" th:if="${currentUser.expense == null}">
					<label for="entertainment">Entertainment Payment</label>
					<input type="number" name="entertainment" class="form-control" id="entertainment"
					       placeholder="entertainment payment">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="entertainment2">Entertainment Payment</label>
					<input type="number" name="entertainment" class="form-control" id="entertainment2"
					       th:value="${currentUser.expense.entertainment}">
				</div>
				
				<div class="form-group" th:if="${currentUser.expense == null}">
					<label for="utilities">Utilities Payment</label>
					<input type="number" name="utilities" class="form-control" id="utilities" placeholder="utilities payment">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="utilities2">Utilities Payment</label>
					<input type="number" name="utilities" class="form-control" id="utilities2"
					       th:value="${currentUser.expense.utilities}">
				</div>
				
				<div class="form-group" th:if="${currentUser.expense == null}">
					<label for="insurance">Insurance Payment</label>
					<input type="number" name="insurance" class="form-control" id="insurance" placeholder="insurance payment">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="insurance2">Insurance Payment</label>
					<input type="number" name="insurance" class="form-control" id="insurance2"
					       th:value="${currentUser.expense.insurance}">
				</div>
				
				<div class="form-group"th:if="${currentUser.expense == null}">
					<label for="vehicle">Vehicle Payment</label>
					<input type="number" name="vehicle" class="form-control" id="vehicle" placeholder="vehicle payment">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="vehicle2">Vehicle Payment</label>
					<input type="number" name="vehicle" class="form-control" id="vehicle2"
					       th:value="${currentUser.expense.vehicle}">
				</div>
				
				<div class="form-group" th:if="${currentUser.expense == null}">
					<label for="misc">Misc Payment</label>
					<input type="number" name="misc" class="form-control" id="misc" placeholder="misc payment">
				</div>
				<div class="form-group" th:unless="${currentUser.expense == null}">
					<label for="misc2">Misc Payment</label>
					<input type="number" name="misc" class="form-control" id="misc2" th:value="${currentUser.expense.misc}">
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</main>
	</body>
</html>
