<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt"
		 crossorigin="anonymous"
		>
		<link href="/styles.css" rel="stylesheet">
	</head>
	
	<body>
		<main class="container">
			<h3>Oh no, you seem to have run into an error...</h3>
			<table class="table table-dark">
				<tr>
					<th scope="row">Date</th>
					<td th:text="${timestamp}"></td>
				</tr>
<!--				<tr>-->
<!--					<th scope="row">Path</th>-->
<!--					<td th:text="${path}"></td>-->
<!--				</tr>-->
				<tr>
					<th scope="row">Error</th>
					<td th:text="${error}"></td>
				</tr>
				<tr>
					<th scope="row">Status</th>
					<td th:text="${status}"></td>
				</tr>
				<tr>
					<th scope="row">Message</th>
					<td th:text="${message}"></td>
				</tr>
<!--				<tr>-->
<!--					<th scope="row">Exception</th>-->
<!--					<td th:text="${exception}"></td>-->
<!--				</tr>-->
<!--				<tr>-->
<!--					<th scope="row">Trace</th>-->
<!--					<td>-->
<!--						<pre th:text="${trace}"></pre>-->
<!--					</td>-->
<!--				</tr>-->
			</table>
		</main>
	</body>
</html>