<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>HelloHome!</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt"
		 crossorigin="anonymous"
		>
		<link href="/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div th:replace="fragments/header :: notLoggedInHeader"></div>
		<main class="container">
			<h1>Welcome to HelloHome!</h1>
			<p>Please login to your account or register for a new one!</p>
		</main>
	</body>
</html>