<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>HelloHome! - Profile</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt"
		 crossorigin="anonymous"
		>
		<link href="/styles.css" rel="stylesheet">
	</head>
	
	<body>
		<div th:replace="fragments/header :: loggedInHeader(user=${currentUser})"></div>
		
		<main class="container">
			<h1>Profile</h1>

			
			<div th:if="${currentUser.expense == null}">
				<p><a href="/user/addExpenses" class="lightColorLink">Add expense information</a></p>
			</div>
			
			<div th:unless="${currentUser.expense == null}">
				<p><a href="/user/addExpenses" class="lightColorLink">Update Profile</a></p>
				<form method="post" action="/user/profile">
					<input type="hidden" name="_method" value="DELETE"/>
					<input type="hidden" name="curentUserId" th:value="currentUser.id"/>
<!--					<p><a href="/register" class="lightColorLink">Delete Profile</a></p>-->
					<input type="submit" value="Delete Profile"/>
				</form>


				
				<h3>Mortgage Budget</h3>
				<h4><b>Total Mortgage Budget:</b> $
					<span class="budget" th:text="${currentUser.totalAffordableMortgage}"></span></h4>
				<h4><b>Monthly Mortgage Payment:</b> $
					<span class="budget" th:text="${currentUser.monthlyMortgageBudget}"></span></h4>
				<div th:if="${currentUser.expensesBelow36Percent >= 0}">
					<h4><b>Expenses to Income:</b> <br/>You currently spend $<span id="pos"
					 th:text="${currentUser.expensesBelow36Percent}"></span> less than the recommended monthly budget!<br/>
						Congratulations, you're in a great place to be able to buy a house!</h4>
				</div>
				<div th:unless="${currentUser.expensesBelow36Percent >= 0}">
					<h4><b>Expenses to Income:</b>
						<br/>You currently spend $<span id="neg"
					 th:text="${currentUser.expensesBelow36Percent * -1}"></span> more than the recommended monthly
						budget!<br/>
						Before you look to buy a house you should try eliminating the excess spending from your budget.</h4>
				</div>
				
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><b>Username:</b> <span th:text="${currentUser.username}"></span></li>
					<li class="list-group-item"><b>First Name:</b> <span th:text="${currentUser.firstName}"></span></li>
					<li class="list-group-item"><b>Last Name:</b> <span th:text="${currentUser.lastName}"></span></li>
					<li class="list-group-item"><b>Annual Income:</b> $
						<span th:text="${currentUser.expense.annualIncome}"></span>
					</li>
					<li class="list-group-item">
						<b>Monthly Expenses:</b>
						<ul style="list-style-type: none">
							<li><b>Credit Card Payment:</b> $
								<span th:text="${currentUser.expense.creditPayment}"></span></li>
							<li><b>Entertainment Payment:</b> $
								<span th:text="${currentUser.expense.entertainment}"></span></li>
							<li><b>Utilities Payment:</b> $
								<span th:text="${currentUser.expense.utilities}"></span></li>
							<li><b>Insurance Payment:</b> $
								<span th:text="${currentUser.expense.insurance}"></span></li>
							<li><b>Vehicle Payment:</b> $
								<span th:text="${currentUser.expense.vehicle}"></span></li>
							<li><b>Misc Payment:</b> $<span th:text="${currentUser.expense.misc}"></span></li>
						</ul>
					</li>
					<li th:if="${currentUser.searches.size() != 0}" class="list-group-item">
						<b>Past Searches:</b>
						<ul th:each="search : ${currentUser.searches}" style="list-style-type: none">
							<li>
								<form method="POST" action="/user/results">
									<input type="hidden" name="city" id="city" th:value="${search.city}" />
									<input type="hidden" name="state" id="state" th:value="${search.state}" />
									<button type="submit" class="link-like lightColorLink">
										<span th:text="${search.city} + ', ' + ${search.state}"></span>
									</button>
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</main>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>